@import url('https://fonts.googleapis.com/css2?family=Gantari&display=swap');


@font-face {
    font-family:'Gantari', sans-serif;
    src: url();
}

* {
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Gantari', sans-serif;
    width: 100%;
    display: grid;
    grid-template-rows:auto auto auto auto;
    grid-template-areas: "nav""img""info""footer";
}

/* header */

header {
    background-color:#006C67;
    height: 100px;
    box-shadow:(10px 10px 10px rgba(0, 0, 0, 0.25));   
}

/* nav */
nav {
    display: grid;
    grid-template-rows: auto auto ;
    justify-content: space-between;
    align-items: baseline; 
    
}
.enlace-menu {
    color: white;
    text-decoration: none;
    height: 20px;
    font-size: 18px;
    /* line-height: 100px; */
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
    transition: clip-path .5s;
}
.enlace-menu::after {

    content: "";
    display: block;
    width: 100%;
    height: 3px;
    margin-top: 3px;
    background: rgb(207, 207, 207);
    clip-path: var(--clippy);
    transition: clip-path .5s;
}
.enlace-menu:hover {
    --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    color: white;
}
.nav-item-edit:after{
    content: "";
    display: block;
    width: 80%;
    height: 3px;
    margin-top: 3px;
    background: rgb(207, 207, 207);
    clip-path: var(--clippy);
    transition: clip-path .5s;
}
.nav-item-edit:hover {
    --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    color: white;
}
.nav-item-edit {
    color: white;
    text-decoration: none;
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
    transition: clip-path .5s;
}
.nav-menu {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    column-gap: 2em;
    margin-left: 10px;
    list-style: none;
    
    
}
.enlace-menu-nav {
    color: white;
    text-decoration: none;
    height: 20px;
    font-size: 18px;
}
a:hover {
    color: white;
}

/* logo */

.enlace-logo {
    color: white;
    text-decoration: none;
}
.logo {
    font-size: 25px;
    font-weight: bold;
    padding: 30px;
    border-radius: 20px;
    height: 99px;
}
.logo:hover {
    background-color: #0997907e;
}
/* main */

main {
    background-color: rgb(207, 207, 207);
    width: 100%;
    display: flex;
    flex-direction: column;
     /* align-items: center;  */
}
 
/* imagen index */

.img {
    grid-area: img;
    width:auto ;
    height: 890px ;
    transition: all .5s ease-in-out;
} 
.img-home {
    width: 100%;
    height: 100%;  
}

 /* titulos-index */

 .titulo-card-servicio {
    font-size: 40px;
    padding: 40px;
    width: 75%;
    border-top:solid #006C67;
}

.titulo-internet, .titulo-voz-ip, .titulo-datos, .titulo-datacenter {
    font-size: 40px;
    padding: 40px;
    width: 75%;
    border-bottom: 1px solid gray;
}

/* info */

.informacion { 
    display: flex;
    flex-direction: row;
    grid-area: info;  
}

/* info-hover-index */

.card-index:hover{
    background-color: rgb(182, 180, 180);
    color: #006C67;
    border-radius: 15px;
    box-shadow:(10px 10px 10px rgba(0, 0, 0, 0.75));
}

 /* cards-index */

.card-index {
    width: 25%;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between ;
    align-items: center;
    
} 


/* footer */

footer {
    grid-area: footer;
    background-color: #006C67;
    height: 200px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-content: center;
}

.lista-nav-footer {
    width: 33.33%;
}

.item-nav-footer {
    list-style: none;
    color: rgb(207, 207, 207);
    padding: 5px;
    text-decoration: none;
    line-height: 30px;
}

.contacto-inferior {
    align-items: center;
    /* margin-left: 25%; */
    margin-top: 80px;
    text-align: center;
    color:  rgb(207, 207, 207);
    width: 33.33%;
    letter-spacing: 1em;

}

.logos-partners {
    /* position: absolute;
    top:25px ;
    right: 10px;  */
    width: 33.33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-end;
    margin-top: 10px;
    
}

/* boton contactanos */

.boton-contacto {
    padding: 10px;
    font-size: 18px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    top: 50px;
    margin-bottom: 60px;
    background-color: #006C67;
    
    
    
}

.boton-contacto:hover {
    background-color:#0997907e ;
    color: white;
    border-radius: 10px;
    
}

/* boton ver mas */
.ver-mas {
    width: 120px;
    padding: 25px;
    height: 10px;
    font-size: 18px;
    text-align: center ;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-radius: 30px;
    display: flex;
    align-content: center;
    align-items: center;
    background-color: #006C67;
    margin: 20px;
    
    
}

/* lista index */
 
.lista-index {
    list-style: none;
    margin-bottom: 100px;
}

/* pag-servicios */

.internet {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}
    

.lista-servicios, .lista-voz-ip {
    margin: 40px;
}
 /* CARDS */
.servicios-recidenciales {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.card-servicio {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    /* border-top:solid #006C67; */
}


.card-servicio:hover {
    background-color: rgb(182, 180, 180);
    color: #006C67;
    border-radius: 15px;
    box-shadow:(10px 10px 10px rgba(0, 0, 0, 0.75));
}

/* Cards-empresas */

.servicios-empresas {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.card-servicio-empresas {
    width: 33.35%;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between ;
    align-items: center;
}

.card-servicio-empresas p {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.card-servicio-empresas:hover {
    background-color: rgb(182, 180, 180);
    color: #006C67;
    border-radius: 15px;
    box-shadow:(10px 10px 10px rgba(0, 0, 0, 0.75));
}


/* pag quienes somos */


.titulo-quienes-somos {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

.parrafo-quienes-somos {
    text-align: center;
    margin-bottom: 50px;
    margin-left: 150px;
    margin-right: 150px;

}
.main-quienes-somos {
    display: flex;
    flex-direction: column;

}

/* pag contactos */

.main-contacto h1 {
    font-size: 60px;
    text-align: center;
}

.main-contacto h3 {
    font-size: 30px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}
/* 
formulario */

.formulario {
    display: flex;
    flex-direction: column;
    
}

/* pag-empresas */

.titulo-empresas{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
    font-size: 40px;
    width: 50%;
    height: 50px;
    background-color: #006C67;
    color: rgb(207, 207, 207);
    margin-left: 25%;
    
    
}

.titulo-card-empresas {
    font-size: 35px;
    margin-bottom: 50px;
    margin-top: 50px;
    width: 75%;
    border-top: solid #006C67 ;
    text-align: center;
}

.navbar {
    display: none;
}

@media (max-width: 320px){
    main {width: 320px}
  .img-home {
    height: 460px;
  }
  .informacion {
    margin-right: 45%;
    
    align-content: center;
  }

  .card-index, .card-servicio, .card-servicio-empresas, .card-voz-ip, .card-datos, .card-datacenter {
    width: 100%;
    
    }
    .servicios-dedicados, .voz-ip, .datos, .datacenter {
        flex-direction: column;
    }

  footer {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .contacto-inferior {
    
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    
  }

  .servicios-recidenciales {
    flex-direction: column;
  }

}

@media (max-width: 768px){
    nav{
        grid-area: nav;
        display: flex;
        flex-direction: column;
    }

    .img{
        grid-area:img;
        height: 620px; 
    }  

    .informacion {
        grid-area:info;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .titulo-internet, .titulo-voz-ip, .titulo-voz-ip, .titulo-datos, .titulo-datacenter {
    padding: 0;
    font-size: 30px;
    }

    

    footer {
        grid-area: footer;
        display: flex;
        justify-content: center;
    }

    .lista-nav-footer, .logos-partners  {
        display: none;
    }

    .servicios-recidenciales {
        flex-direction: column;
    
      }
    
      .card-servicio {
        width: 100%;
      }

      .card-index, .card-servicio, .card-servicio-empresas, .card-voz-ip, .card-datos, .card-datacenter {
        width: 100%;
        margin: 0;
        
        }
        .servicios-dedicados, .voz-ip, .datos, .datacenter {
            flex-direction: column;
        }
}